/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    margin: 0;
    object-fit: cover;

}


/* GENERELLE INDSTILLINGER SLUT */

/* SKRIFT INDSTILLINGER */
h1 {
    font-family: 'Raleway', sans-serif;
    /* UPPERCASE HER */
}

h2 {
    font-family: 'Raleway', sans-serif;
    /* UPPERCASE HER */
}

h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    margin: 6;
}

/* SKRIFT INDSTILLINGER SLUT */

/* SPALTER */

#cv_heading {
    margin: 30px;

}

.spalte1 {
    margin: 30px;
}

.spalte2 {
    margin: 30px;

}

/*her bliver den horisontale linje defineret */

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.7em;
    margin-right: 1.7em;
    border-style: inset;
    border-width: 1px;
}



/* MEDIA QUERIES WEB */

@media only screen and (min-width: 1024px) {

    #cv_about {
        margin: 30px;
    }

    #cv_fullpage {
        display: flex;
        margin: 0;
        position: absolute;
        top: 30%;
        left: 7%;
    }

    /*her styles spalterne for timeline */
    .spalte1 h2 {
        text-align: right;
    }

    .spalte1 p {
        text-align: right;
        width: 500px
    }

    .spalte2 h2 {
        text-align: left;
    }

    .spalte2 p {
        text-align: left;
        width: 500px
    }


    /*her bliver den verticale linje defineret */

    hr {
        /*justify-content: center;*/
        border-style: inset;
        border-width: 1px;
    }




}


/* MEDIA QUERIES WEB SLUT */
