/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* GENERELLE INDSTILLINGER SLUT */

footer a {
    font-family: 'Quicksand';
    /* color: black; */
    font-size: 8px;
    text-decoration: none;
    align-content: flex-start;
    cursor: pointer;}

/* SKRIFT INDSTILLINGER */
h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

p {
    font-family: 'Quicksand', sans-serif;
    margin: 6;
}

#cv_aar1,
#cv_aar2,
#cv_aar3,
#cv_aar4,
#cv_aar5,
#cv_aar6,
#cv_aar7,
#cv_aar8,
#cv_aar9,
#cv_aar10,
#cv_aar11,
#cv_aar12,
#cv_aar13,
#cv_aar14,
#cv_aar15,
#cv_aar16,
#cv_aar17,
#cv_aar18,
#cv_aar19,
#cv_aar20,
#cv_aar21,
#cv_aar22,
#cv_aar23,
#cv_aar24,
#cv_aar25,
#cv_aar26,
#cv_aar27 {
    color: #83786C;
}

/* SKRIFT INDSTILLINGER SLUT */

/* SPALTER */

#cv_heading {
    margin: 20px;

}

#cv_about {
    margin: 20px;

}

.spalte1 {
    margin: 20px;
}

.spalte2 {
    margin: 20px;

}

/*her bliver den horisontale linje defineret */

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.7em;
    margin-right: 1.7em;
    border-style: inset;
    border-width: 1px;
}



/* MEDIA QUERIES WEB */


@media only screen and (min-width: 768px) {
    #cv_about {
        /*width: 550px;*/
    }

}

@media only screen and (min-width: 1024px) {

    #cv_about {
            width: 430px;
            margin: 15px 0px 0px 48px;
    }

    #cv_fullpage {
        display: flex;
        margin: 0;
        position: absolute;
        left: 10%;
    }

    /*her styles spalterne for timeline */
    .spalte1 h2 {
        text-align: right;
    }

    .spalte1 p {
        text-align: right;
        width: 500px;
        transition: 0.5s;
    }


    #cv_aar1:hover {
        font-size: 1.8rem;


    }

    #cv_aar2:hover {
        font-size: 1.8rem;
    }

    #cv_aar3:hover {
        font-size: 1.8rem;
    }

    #cv_aar4:hover {
        font-size: 1.8rem;
    }

    #cv_aar5:hover {
        font-size: 1.8rem;
    }


    #cv_aar6:hover {
        font-size: 1.8rem;
    }

    #cv_aar7:hover {
        font-size: 1.8rem;
    }

    #cv_aar8:hover {
        font-size: 1.8rem;
    }

    #cv_aar9:hover {
        font-size: 1.8rem;
    }

    #cv_aar10:hover {
        font-size: 1.8rem;
    }

    #cv_aar11:hover {
        font-size: 1.8rem;
    }

    #cv_aar12:hover {
        font-size: 1.8rem;
    }

    #cv_aar13:hover {
        font-size: 1.8rem;
    }

    #cv_aar14:hover {
        font-size: 1.8rem;
    }

    #cv_aar15:hover {
        font-size: 1.8rem;
    }

    #cv_aar16:hover {
        font-size: 1.8rem;
    }

    #cv_aar17:hover {
        font-size: 1.8rem;
    }

    #cv_aar18:hover {
        font-size: 1.8rem;
    }

    #cv_aar19:hover {
        font-size: 1.8rem;
    }

    #cv_aar20:hover {
        font-size: 1.8rem;
    }

    #cv_aar21:hover {
        font-size: 1.8rem;
    }

    #cv_aar22:hover {
        font-size: 1.8rem;
    }

    #cv_aar23:hover {
        font-size: 1.8rem;
    }

    #cv_aar24:hover {
        font-size: 1.8rem;
    }

    #cv_aar25:hover {
        font-size: 1.8rem;
    }

    #cv_aar26:hover {
        font-size: 1.8rem;
    }

    #cv_aar27:hover {
        font-size: 1.8rem;
    }





    .spalte2 h2 {
        text-align: left;

    }

    .spalte2 p {
        text-align: left;
        width: 500px;
        transition: 0.5s;
    }


    /*her bliver den verticale linje defineret */

    hr {
        /*justify-content: center;*/
        border-style: inset;
        border-width: 1px;
    }

    #myBtn {
        font-family: 'Quicksand';
        display: none;
        position: fixed;
        bottom: 70px;
        right: 30px;
        z-index: 99;
        font-size: 12px;
        border: none;
        outline: none;
        background-color: white;
        color: #5C5A5A;
        cursor: pointer;
        padding: 12px;
        border-radius: 1px;
    }

  #myBtn:hover {
        color: #CEC1B0;
    }




}


/* MEDIA QUERIES WEB SLUT */
