    /* FOOTER */

    footer {
        font-family: 'Quicksand';
        font-size: 8px;
        color: #5C5A5A;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: absolute;
        width: 100%;
        padding: 10px 20px 20px 20px;
    }

    footer a {
        font-family: 'Quicksand';
        color: #5C5A5A;
        font-size: 8px;
        text-decoration: none;
        align-content: flex-start;
        cursor: pointer;

    }

    footer a:hover {
        color: #CEC1B0;
    }

    footer .info {
        display: inline-block;
    }

    .info p {
        font-size: 8px;
    }



    /* MEDIA QUERIES IPAD */

    @media only screen and (min-width: 768px) {

        .info p {
            font-size: 12px;
        }


        footer {
            font-size: 12px;
            color: #5C5A5A;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            position: absolute;
            width: 100%;
            padding: 10px 20px 10px 20px;

        }

        footer a {
            color: #5C5A5A;
            text-decoration: none;
            align-content: flex-start;
            cursor: pointer;
            font-size: 12px;

        }

        footer a:hover {
            color: #CEC1B0;
        }

        footer .info {
            display: inline-block;
        }

    }

    @media only screen and (min-width: 1024px) {
        .info p {
            font-size: 12px;
        }


        footer {
            font-size: 12px;
            color: #5C5A5A;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            position: absolute;
            width: 100%;
            padding: 10px 40px 10px 40px;
            bottom: -1450px;

        }

        footer a {
            color: #5C5A5A;
            text-decoration: none;
            align-content: flex-start;
            cursor: pointer;
            font-size: 12px;

        }

        footer a:hover {
            color: #CEC1B0;
        }

        footer .info {
            display: inline-block;
        }

    }


    @media only screen and (min-width: 1200px) {

        .info p {
            font-size: 12px;
        }


        footer {
            font-size: 12px;
            color: #5C5A5A;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            position: absolute;
            width: 100%;
            padding: 10px 40px 10px 40px;
            bottom: -1750px;

        }

        footer a {
            color: #5C5A5A;
            text-decoration: none;
            align-content: flex-start;
            cursor: pointer;
            font-size: 12px;

        }

        footer a:hover {
            color: #CEC1B0;
        }

        footer .info {
            display: inline-block;
        }


    }
