html,
body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(baggrund/bg_mobile.jpg);


}



/* LANDINGPAGE */


#landingpage_fullpage {
    text-align: center;


}



#landing_headline {
    visibility: hidden;


}

#landing_headline2 {
    visibility: hidden;

}



p.vertical_name {
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -630px;
    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    float: left;
    transform: rotate(180deg);


}

a.some_ig {
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -670px;
    margin-left: 120px;
    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    float: right;


    /* LINK VIRKER IKKE NÅR DENNE ER PÅ */
}

a.some_li {
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -530px;
    margin-left: 120px;
    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    float: right;


}


a.some_yb {
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -410px;
    margin-left: 120px;
    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    float: right;


}

a.some_ig:hover {
    color: #CEC1B0;
}


a.some_li:hover {
    color: #CEC1B0;
}



a.some_yb:hover {
    color: #CEC1B0;
}



/* LANDINGPAGE SLUT */



@media only screen and (min-width: 768px) {

    html,
    body {

        background-image: url(baggrund/bg_web.jpg);

    }


    body {
        background-image: url()
    }

    /* LANDINGPAGE */


    #landing_headline {
        visibility: visible;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        color: #83786C;
        font-size: 2.2rem;
        margin-top: -460px;
        position: relative;
        /*        z-index: -1;*/

    }

    #landing_headline2 {
        visibility: visible;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: #83786C;
        font-weight: 400;
        font-size: 1.2rem;

        position: relative;
        z-index: -1;
        /* KAN IKKE SKJULES I MENUEN HVIS DEN IKKE ER PÅ OG KAN IKKE LINKES, HVIS DEN ER PÅ */
    }


    p.vertical_name {
        margin-top: 0;

    }

    a.some_ig {
        margin-top: -200px;
        margin-left: 430px;
    }

    a.some_li {
        margin-top: -60px;
        margin-left: 430px;
    }


    a.some_yb {
        margin-top: 60px;
        margin-left: 430px;
    }
}



/* MEDIA QUERIES IPAD SLUT */


/* MEDIA QUERIES WEB */

@media only screen and (min-width: 1024px) {
    p.vertical_name {
        margin-top: -150px;
        margin-left: 30px;
    }

    a.some_ig {
        margin-top: -220px;
        margin-left: 0px;
    }

    a.some_li {
        margin-top: -80px;
        margin-left: 0px;
    }


    a.some_yb {
        margin-top: 40px;
        margin-left: 0px;
    }


    .vertical-line {
        display: inline-block;
        border-right: 1px solid #ccc;
        margin-right: 1300px;
        margin-top: -600px;
        height: 110vh;
    }

    .vertical-line2 {
        display: inline-block;
        border-left: 1px solid #ccc;
        margin-left: 1310px;
        margin-top: -1200px;
        height: 110vh;
    }
}

/* MEDIA QUERIES WEB SLUT */
