html,
body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(baggrund/bg_mobile.jpg);
    z-index: -1;




}



/* LANDINGPAGE */


#landingpage_fullpage {
    text-align: center;

}


#landing_headline {
    visibility: hidden;


}

#landing_headline2 {
    visibility: hidden;

}



p.vertical_name {
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 100px;

    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    float: left;
    transform: rotate(180deg);


}

a.some_ig {

    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    right: -2vw;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    float: right;

}

a.some_li {
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 180px;
    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    right: -2vw;
    float: right;


}


a.some_yb {
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    right: -2vw;
    margin-top: 320px;
    font-family: 'Raleway', sans-serif;
    color: #888888;
    writing-mode: vertical-rl;
    float: right;


}

a:hover {
    color: #CEC1B0
}





/* LANDINGPAGE SLUT */



@media only screen and (min-width: 768px) {

    html,
    body {
        background-image: url(baggrund/web_baggrund.jpg);

    }


    body {
        background-image: url()
    }

    /* LANDINGPAGE */


    #landing_headline {
        visibility: visible;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        color: #83786C;
        font-size: 2.2rem;
        margin-top: 350px;
        position: relative;


    }

    #landing_headline2 {
        border-bottom: 1px solid #83786C;
        padding-bottom: 2px;
        visibility: visible;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: #83786C;
        font-weight: 400;
        font-size: 1.4rem;
        margin-top: 350px;
        position: relative;


    }

    a#landing_headline2:hover {
        color: #CEC1B0;

    }


    p.vertical_name {
        margin-top: -160px;

    }

    a.some_ig {
        margin-top: -500px;
        right: 1vw;

    }

    a.some_li {
        margin-top: -360px;
        right: 1vw;
    }


    a.some_yb {
        margin-top: -240px;
        right: 1vw;
    }
}



/* MEDIA QUERIES IPAD SLUT */


/* MEDIA QUERIES WEB */

@media only screen and (min-width: 1024px) {

    #landing_headline {
        font-size: 2.6rem;
    }


    #landing_headline2 {
        font-size: 1.6rem;
    }

    p.vertical_name {

        left: 1vw;


    }

    a.some_ig {
        margin-top: -250px;

    }

    a.some_li {
        margin-top: -110px;

    }


    a.some_yb {
        margin-top: 10px;
    }



    .vertical-line {
        visibility: hidden;

    }

    .vertical-line2 {
        visibility: hidden;
    }


}

@media only screen and (min-width: 1420px) {

    .vertical-line {
        visibility: visible;
        position: fixed;
        display: inline-block;
        border-right: 1px solid #ccc;
        margin-right: 1275px;
        margin-top: -600px;
        height: 120vh;

    }

    .vertical-line2 {
        visibility: visible;
        display: inline-block;
        border-right: 1px solid #ccc;
        margin-left: 1275px;
        margin-top: -600px;
        height: 115vh;
    }
}




@media only screen and (min-width: 1480px) {

    .vertical-line {
        visibility: hidden;

    }

    .vertical-line2 {
        visibility: hidden;
    }
}




/* MEDIA QUERIES WEB SLUT */
