* {

    box-sizing: border-box;
}



.page-header2 img {
    position: absolute;
    width: 280px;
    height: 60px;
    left: 10px;
    top: 7px;
}




/* MENUKNAP START */

.menu-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    top: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 1001;
}


.menu-btn_burger {
    position: absolute;
    /* her styles længden på linjerne */
    width: 30px;
    height: 2px;
    background-color: #83786C;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    z-index: 1001;
}


.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    /* her styles længden på linjerne */
    width: 30px;
    height: 2px;
    background-color: #83786C;
    border-radius: 3px;
    transition: all .5s ease-in-out;


}

/* her styles mellemrummet mellem linjerne */
.menu-btn_burger::before {
    transform: translateY(10px);

}

/* her styles mellemrummet mellem linjerne */
.menu-btn_burger::after {
    transform: translateY(-10px);

}



/* ANIMATION */

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;

}


.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}


.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* MENUKNAP SLUT */



/* MENU INDHOLD STYLE START */


.hidden {
    /*
    display: none;
    transform: scale(0);
*/
    transform: translateX(-100%);
    opacity: 0;
}


#menu {
    list-style-type: none;
    transition: transform .3s;




}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-size: 1.4rem;
    line-height: 50px;
    font-weight: 400;

}

a:hover {
    color: #CEC1B0;
}

ul {
    text-align: center;
    top: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0vw;
    padding: 100px;
    z-index: 1000;






}


/* MEDIA QUIRE FOR IPAD */
@media only screen and (min-width: 768px) {

    #menu .hidden {
        transform: translateX(0);
        opacity: 1;
    }
}

/* MEDIA QUIRE FOR WEB */

@media only screen and (min-width: 768px) {


    .page-header2 img {
        position: absolute;
        width: 280px;
        height: 60px;
        left: 5px;
        top: 7px;
    }



    .menu-btn {
        /*    margin: 5px 0px 0px 5px;*/
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        top: 10px;
        /*       width: 50px;
        height: 50px;*/
        z-index: 2000;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menu-btn_burger {
        /*her styles længden på linjerne */
        width: 30px;
        height: 2px;
        background-color: #83786C;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }


    .menu-btn_burger::before,
    .menu-btn_burger::after {
        content: '';
        position: absolute;
        /*her styles længden på linjerne */
        width: 30px;
        height: 2px;
        background-color: #83786C;
        border-radius: 3px;
        transition: all .5s ease-in-out;

    }

    a {
        font-size: 1.3rem;
        line-height: 50px;




    }



}


@media only screen and (min-width: 1024px) {

    .page-header2 img {
        position: absolute;
        width: 280px;
        height: 60px;
        left: 30px;
        top: 6px;
    }

    .menu-btn {
        right: 10px;
        top: 10px;
        width: 50px;
        height: 50px;
        z-index: 2000;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
}
