    body {
        background-color: white;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    /*    article {
        border: none;
        padding: 16px;
    }*/


    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        max-width: 800px;
        margin: 0 auto;
        grid-gap: 10px;
    }

    .zoom {
        -moz-osx-font-smoothing: grayscale;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.3s ease-out;
    }

    .zoom:hover,
    .zoom:focus {
        transform: scale(1.05);
    }

    .zoom:active {
        transform: scale(1);
    }

    /*

    #detalje {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        overflow: scroll;
    }

    #detalje button {
        color: black;
        font-size: 0.5rem;
        margin: 0.5em;
    }

    .skjul {
        display: none;
    }

    #detalje #luk {
        position: fixed;
        top: 0;
        left: 5em;
        font-size: 1.5rem;

    }

    #detalje .mad {
        margin: 120px;
        padding: 40px;
        margin-top: 10px;
        background-color: #fffff5;

    }


    #detalje .mad h2 {
        text-align: left;
    }
*/
