main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
}

.zoom {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease-out;
}

.zoom:hover,
.zoom:focus {
    transform: scale(1.05);
}

.zoom:active {
    transform: scale(1);
}
