.gallery img {
    padding: 15px;

}

.gallery {
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;



}

li #project_fullpage {
    scroll-snap-align: center;
    display: inline-block;
    height: 83vh;
    border-radius: 3px;
    font-size: 0;
    margin-right: 3rem;

}


.padding {
    padding: 0px 20px 0px 20px;
}


li {
    list-style: none;
}

/* SKRIFT INDSTILLINGER */
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 70px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 600;
}

h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;

}


h4 {
    color: #5C5A5A;
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
}

p {
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
    color: #5C5A5A;
}



/* SKRIFT INDSTILLINGER SLUT */



/* FOOTER */

footer {
    font-family: 'Quicksand';
    font-size: 8px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    width: 100%;
    padding: 10px;

}

footer a {
    font-family: 'Quicksand';
    color: black;
    text-decoration: none;
    align-content: flex-start;
    cursor: pointer;
    font-size: 8px;


}

footer a:hover {
    color: #CEC1B0;
}

footer .info {
    display: inline-block;
}




/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) {



    .padding {
        padding: 0px 0px 0px 0px;
    }


    /* SKRIFT INDSTILLINGER */
    h1 {

        margin: 60px 15px 0px 15px;
    }

    #project_tekst1 {
        margin: 20px 15px 20px 15px;
    }


    #project_tekst2 {
        margin: 20px 20px 20px 20px;
    }

    #project_tekst3 {
        margin: 20px 20px 20px 20px;
        width: 700px;
    }


    #project_tekst4 {
        margin: 20px 20px 20px 20px;
        width: 700px;
    }

    footer {
        font-family: 'Quicksand';
        font-size: 12px;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: absolute;
        width: 100%;
        padding: 10px 40px 10px 40px;
    }

    footer a {
        font-family: 'Quicksand';
        color: black;
        text-decoration: none;
        align-content: flex-start;
        cursor: pointer;
        font-size: 12px;

    }

    footer a:hover {
        color: #CEC1B0;
    }

    footer .info {
        display: inline-block;
    }

    #project_tekst3 {
        margin-right: 700px;

    }

    #project_tekst4 {
        margin-right: 700px;

    }
}


/* MEDIA QUERIES WEB */

@media only screen and (min-width: 1024px) {


    /* SKRIFT INDSTILLINGER */
    h1 {
        margin: 100px 40px 0px 48px;
    }

    #project_tekst1 {
        margin: 20px 40px 20px 48px;
    }


    #project_tekst2 {
        margin: 20px 40px 20px 48px;
    }

    #project_tekst3 {
        margin: 20px 40px 20px 48px;
        width: 700px;
    }


    #project_tekst4 {
        margin: 20px 40px 20px 48px;
        width: 700px;
    }

    footer {
        font-family: 'Quicksand';
        font-size: 12px;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: absolute;
        width: 100%;
        padding: 10px 40px 10px 40px;
    }

    footer a {
        font-family: 'Quicksand';
        color: black;
        text-decoration: none;
        align-content: flex-start;
        cursor: pointer;
        font-size: 12px;


    }


}
