
.gallery {
    padding: 10rem;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
}

li {
    scroll-snap-align: center;
    display: inline-block;
    height: 83vh;
    border-radius: 3px;
    font-size: 0;
    margin-right: 3rem;
}
