.gallery {
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
}

li {
    scroll-snap-align: center;
    display: inline-block;
    height: 83vh;
    border-radius: 3px;
    font-size: 0;
    margin-right: 3rem;
}

/* SKRIFT INDSTILLINGER */
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 600;
    font-size: 2rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 600;
}

h3 {
    font-family: 'Raleway', sans-serif;
    /*  text-transform: uppercase;*/
    color: #5C5A5A;

}



p {
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
}

/* SKRIFT INDSTILLINGER SLUT */
