.sidenav {
    position: absolute;
    z-index: 1;
    top: 20px;
    overflow-x: hidden;

}


/* her styles teksten i sidebaren UDEN årstal --> de styles KUN i project_landingpage.css h4 */
.sidenav a {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    text-decoration: none;
    font-size: 0.6rem;
    color: #5C5A5A;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}

.sidenav a:hover {
    opacity: 50%;
}

.main {
    margin-left: 140px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media only screen and (min-width: 768px) {
    .sidenav {

        left: 30px;
    }

    .sidenav a {
        font-size: 1.4rem;
        line-height: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .sidenav {
        top: 40px;
        left: 50px;
    }


    .sidenav a {
        font-family: 'Raleway', sans-serif;
        line-height: 35px;
        text-decoration: none;
        font-size: 1rem;
        color: #5C5A5A;
        display: block;
        text-transform: uppercase;
        font-weight: 400;
    }
}
