.sidenav {
    position: absolute;
    z-index: 1;
    top: 20px;
    overflow-x: hidden;

}

.sidenav a {
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
    text-decoration: none;
    font-size: 0.7rem;
    color: #5C5A5A;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}

.sidenav a:hover {
    opacity: 50%;
}

.main {
    margin-left: 140px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media only screen and (min-width: 768px) {
    .sidenav {

        left: 30px;
    }

    .sidenav a {
        font-size: 1.4rem;
        line-height: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .sidenav {
        top: 40px;
        left: 50px;
    }
}
