/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    width: 100%;
    margin: 0;
}


.padding {
    padding: 0px 20px 0px 20px;
}



#contact_fullpage p {
    line-height: 13px;
}

#contact_heading3 {
    margin-top: 40px;
}


a#contact_studio,
#contact_web {
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
    color: #5C5A5A;
    font-size: 1rem;
    text-transform: none;
}

a#contact_studio:hover {
    color: #CEC1B0;
}

a#contact_web:hover {
    color: #CEC1B0;
}

/* GENERELLE INDSTILLINGER SLUT */

/* SKRIFT INDSTILLINGER */
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 500;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 500;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #5C5A5A;
    font-weight: 400;
}

#contact_descriptiion {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #5C5A5A;
    font-weight: 400;
    line-height: 24px;
}


p {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
    color: #5C5A5A;
}

/* SKRIFT INDSTILLINGER SLUT */





/* OVERSKRIFTERS TILRETTELSER */


#projects_landingpage_heading,
#exhibition_heading,
#press_heading,
#cv_heading,
#about_heading,
#contact_heading {
    margin-top: 100px;
}



/* OVERSKRIFTERS TILRETTELSER SLUT */

/* EXHIBTION */

#exhibitions {
    display: grid;
    grid-gap: 10px;
    margin-top: 35px;
    grid-template-areas:
        "exhibition_head"
        "current1"
        "current2"
        "current3"
        "exhibition_head2"
        "future1"
        "future2"
        "future3"
        "exhibition_head3"
        "past1"
        "past2"
        "past3"

}

#exhibition_head {
    grid-area: exhibition_head;
}


#current1 {
    grid-area: current1;
}

#current2 {
    grid-area: current2;
}

#current3 {
    grid-area: current3;
}



#exhibition_head2 {
    grid-area: exhibition_head2;
}

#future1 {
    grid-area: future1;
}

#future2 {
    grid-area: future2;
}

#future3 {
    grid-area: future3;
}

#exhibition_head3 {
    grid-area: exhibition_head3;
}

#past1 {
    grid-area: past1;
}

#past2 {
    grid-area: past2;
}

#past3 {
    grid-area: past3;
}



#exhibition_fullpage p {
    font-size: 1.2rem;
    text-transform: none;
}


/* EXHIBTION SLUT */




/* FORMULAR */

input[type=text],
select {
    font-family: 'Raleway', sans-serif;
    width: 105px;
    height: 30px;
    padding: 12px 20px;
    display: inline-block;
    /*    margin: 8px 0;*/
    text-transform: uppercase;
    border: 1px solid #ccc;
    color: #5C5A5A;
    font-size: 0.8rem;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=submit] {
    background-color: #CEC1B0;
    width: 110px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
}



input[type=submit]:hover {
    opacity: 50%;
    color: #5C5A5A;
}

/* FORMULAR SLUT */


/* ABOUT SLUT */




/* CONTACT */

#contact_fullpage {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "contact_heading"
        "contact_paragraf1"
        "contact_paragraf2"

}

#contact_heading {

    grid-area: contact_heading;
}

#contact_paragraf1 {
    grid-area: contact_paragraf1;
}

#contact_paragraf2 {

    grid-area: contact_paragraf2;
}





/* CONTACT SLUT */

/* PRESS */

#press {
    display: grid;
    grid-gap: 10px;
    margin-top: 50px;
    grid-template-areas:
        "reviews_head"
        "reviews_paragraf1"
        "reviews_paragraf2"
        "interview_head"
        "interview_paragraf1"
        "photoreportage_head"
        "photoreportage_paragraf1"
        "grants_head"
        "grants_paragraf1"
}


#reviews_head {
    grid-area: reviews_head;
}

#reviews_paragraf1 {
    grid-area: reviews_paragraf1;
}

#reviews_paragraf2 {
    grid-area: reviews_paragraf2;
}

#interview_head {
    grid-area: interview_head;
}

#interview_paragraf1 {
    grid-area: interview_paragraf1;
}

#photoreportage_head {
    grid-area: photoreportage_head;
}

#photoreportage_paragraf1 {
    grid-area: photoreportage_paragraf1;
}

#grants_head {
    grid-area: grants_head;
}

#grants_paragraf1 {
    grid-area: grants_paragraf1;
}



#press_fullpage img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}


/* PRESS SLUT */
/* TOP KNAP */

#myBtn {
    font-family: 'Quicksand';
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: white;
    color: #5C5A5A;
    cursor: pointer;
    padding: 12px;
    border-radius: 1px;
}


/* ZOOM EFFEKT START */


main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
}

.zoom {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease-out;
}

.zoom:hover,
.zoom:focus {
    transform: scale(1.02);
}

.zoom:active {
    transform: scale(1);
}

/* ZOOM EFFEKT SLUT */


@media only screen and (min-width: 768px) {

    /* OVERSKRIFTERS TILRETTELSER */
    #projects_landingpage_heading,
    #exhibition_heading,
    #press_heading,
    #cv_heading,
    #about_heading,
    #contact_heading {
        margin: 100px 20px 0px 20px;
    }

    /* OVERSKRIFTERS TILRETTELSER SLUT */

    .padding {
        padding: 0px 0px 0px 0px;
    }

    input[type=text],
    select {

        width: 100px;
        height: 30px;

    }

    input[type=submit] {

        width: 100px;
        height: 30px;
    }

    /* EXHIBTION */


    #exhibitions {
        display: grid;
        margin-top: 0px;
        grid-gap: 10px;
        grid-template-columns: 160px 160px 160px;
        justify-content: center;
        grid-template-areas:
            "exhibition_head exhibition_head exhibition_head"
            "current1 current2 current3"
            "exhibition_head2 exhibition_head2 exhibition_head2"
            "future1 future2 future3"
            "exhibition_head3 exhibition_head3 exhibition_head3"
            "past1 past2 past3"



    }

    #exhibition_fullpage p {
        font-size: 0.8rem;
    }

    /* EXHIBTION SLUT */

    /* ABOUT */


    #about_fullpage {
        display: grid;
        grid-gap: 10px;
        justify-content: start;
        margin-left: 20px;
        grid-template-columns: 380px 320px;
        grid-template-areas:
            "about_heading about_heading"
            "about_paragraf2 about_paragraf1"

    }

    #about_heading {
        grid-area: about_heading;
    }

    #about_paragraf1 {
        grid-area: about_paragraf1;
    }

    #about_paragraf2 {
        grid-area: about_paragraf2;

    }


    /* ABOUT SLUT */


    /* CONTACT */
    #contact_fullpage {
        display: grid;
        margin-left: 20px;
        grid-template-columns: 355px 355px;
        grid-template-areas:
            "contact_heading contact_heading"
            "contact_paragraf2 contact_paragraf1"

    }


    /* CONTACT SLUT*/


    /*     PRESS */

    #press {
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: center;
        margin-top: 0px;
        grid-template-areas:
            "reviews_head reviews_head"
            "reviews_paragraf1 reviews_paragraf2"
            "interview_head interview_head"
            "interview_paragraf1 interview_paragraf1"
            "photoreportage_head photoreportage_head"
            "photoreportage_paragraf1 photoreportage_paragraf1"
            "grants_head grants_head"
            "grants_paragraf1 grants_paragraf1"
    }

    #press_fullpage img {
        width: 200px;
        height: 200px;

    }


    /* PRESS SLUT */


}


/* MEDIA QUERIES IPAD SLUT */


/* MEDIA QUERIES WEB */

@media only screen and (min-width: 1024px) {


    h1 {

        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;

    }



    #contact_descriptiion {
        width: 400px;
        line-height: 30px;
    }

    /* OVERSKRIFTERS TILRETTELSER */
    #projects_landingpage_heading,
    #exhibition_heading,
    #press_heading,
    #cv_heading,
    #about_heading,
    #contact_heading {
        margin: 130px 40px 0px 48px;
    }

    /* OVERSKRIFTERS TILRETTELSER SLUT */




    /* EXHIBTION */
    #exhibitions {
        display: grid;
        grid-gap: 60px;
        grid-template-columns: 200px 200px 200px;
        /*       margin-left: 250px;*/
        grid-template-areas:
            "exhibition_head exhibition_head exhibition_head"
            "current1 current2 current3"
            "exhibition_head2 exhibition_head2 exhibition_head2"
            "future1 future2 future3"
            "exhibition_head3 exhibition_head3 exhibition_head3"
            "past1 past2 past3"


    }

    #exhibition_fullpage p {
        font-size: 1rem;
    }



    /* EXHIBTION SLUT */

    /* ABOUT */

    #about_fullpage {
        display: grid;
        grid-gap: 20px;
        justify-content: flex-start;
        margin: 0px 0px 0px 50px;
        grid-template-columns: 500px 450px;
        grid-template-areas:

            "about_heading about_heading"
            "about_paragraf2 about_paragraf1"


    }



    /* FORMULAR */

    input[type=text],
    select {
        width: 210px;
        height: 40px;

    }

    input[type=submit] {
        width: 160px;
        height: 40px;

    }

    /* FORMULAR SLUT */

    /* ABOUT SLUT */


    /* CONTACT */
    #contact_fullpage {
        display: grid;
        grid-gap: 20px;
        margin: 0px 0px 0px 50px;
        grid-template-columns: 500px 420px;
        grid-template-areas:
            "contact_heading contact_heading"
            "contact_paragraf2 contact_paragraf1"

    }

    #contact_paragraf1 img {
        width: 90%;


    }




    /* CONTACT SLUT*/


    /* PRESS */

    #press {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 400px 400px;
        margin-left: 50px;
        grid-template-areas:
            "reviews_head reviews_head"
            "reviews_paragraf1 reviews_paragraf2"
            "interview_head interview_head"
            "interview_paragraf1 interview_paragraf1"
            "photoreportage_head photoreportage_head"
            "photoreportage_paragraf1 photoreportage_paragraf1"
            "grants_head grants_head"
            "grants_paragraf1 grants_paragraf1"
    }

    #press_fullpage img {
        width: 300px;
        height: 300px;

    }


    /* PRESS SLUT */




}


/* MEDIA QUERIES WEB SLUT */


@media only screen and (min-width: 1024px) {


    #press {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 300px 300px;
        justify-content: center;
        grid-template-areas:
            "reviews_head reviews_head"
            "reviews_paragraf1 reviews_paragraf2"
            "interview_head interview_head"
            "interview_paragraf1 interview_paragraf1"
            "photoreportage_head photoreportage_head"
            "photoreportage_paragraf1 photoreportage_paragraf1"
            "grants_head grants_head"
            "grants_paragraf1 grants_paragraf1"
    }

    #press_fullpage img {
        width: 250px;
        height: 250px;

    }

}


@media only screen and (min-width: 1400px) {

    /* ABOUT */

    #about_fullpage {
        grid-template-columns: 600px 600px;
        grid-template-areas:

            "about_heading about_heading"
            "about_paragraf2 about_paragraf1"


    }

    /* ABOUT SLUT */


    /* CONTACT */
    #contact_fullpage {
        grid-template-columns: 600px 600px;
        grid-template-areas:
            "contact_heading contact_heading"
            "contact_paragraf2 contact_paragraf1"

    }

    /* CONTACT SLUT*/


    /* PRESS */

    #press {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 375px 375px;
        justify-content: center;
        grid-template-areas:
            "reviews_head reviews_head"
            "reviews_paragraf1 reviews_paragraf2"
            "interview_head interview_head"
            "interview_paragraf1 interview_paragraf1"
            "photoreportage_head photoreportage_head"
            "photoreportage_paragraf1 photoreportage_paragraf1"
            "grants_head grants_head"
            "grants_paragraf1 grants_paragraf1"
    }

    #press_fullpage img {
        width: 350px;
        height: 350px;

    }


    /* PRESS SLUT */

    /* EXHIBTION */
    #exhibitions {
        display: grid;
        grid-gap: 60px;
        grid-template-columns: 270px 270px 270px;
        justify-content: center;
        margin-left: 200px;
        grid-template-areas:
            "exhibition_head exhibition_head exhibition_head"
            "current1 current2 current3"
            "exhibition_head2 exhibition_head2 exhibition_head2"
            "future1 future2 future3"
            "exhibition_head3 exhibition_head3 exhibition_head3"
            "past1 past2 past3"


    }

    #exhibition_fullpage p {
        font-size: 1rem;
    }



    /* EXHIBTION SLUT */

}


@media only screen and (min-width: 1600px) {
    /* PRESS  */


    #press {
        grid-template-columns: 500px 500px;
        grid-gap: 40px;
        grid-template-areas:
            "reviews_head reviews_head"
            "reviews_paragraf1 reviews_paragraf2"
            "interview_head interview_head"
            "interview_paragraf1 interview_paragraf1"
            "photoreportage_head photoreportage_head"
            "photoreportage_paragraf1 photoreportage_paragraf1"
            "grants_head grants_head"
            "grants_paragraf1 grants_paragraf1"
    }

    #press_fullpage img {
        width: 500px;
        height: 500px;

    }

    /* PRESS SLUT */

}



@media only screen and (min-width: 2000px) {

    /* SKRIFT INDSTILLINGER */
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;

    }


    /* ABOUT */

    #about_fullpage {
        grid-template-columns: 600px 800px;
        grid-template-areas:

            "about_heading about_heading"
            "about_paragraf2 about_paragraf1"


    }

    /* ABOUT SLUT */

    /* ABOUT SLUT */


    /* CONTACT */
    #contact_fullpage {
        grid-template-columns: 600px 800px;
        grid-template-areas:
            "contact_heading contact_heading"
            "contact_paragraf2 contact_paragraf1"

    }

    /* CONTACT SLUT*/

    /* PRESS */


    #press {
        grid-template-columns: 600px 600px;
        grid-template-areas:
            "reviews_head reviews_head"
            "reviews_paragraf1 reviews_paragraf2"
            "interview_head interview_head"
            "interview_paragraf1 interview_paragraf1"
            "photoreportage_head photoreportage_head"
            "photoreportage_paragraf1 photoreportage_paragraf1"
            "grants_head grants_head"
            "grants_paragraf1 grants_paragraf1"
    }

    #press_fullpage img {
        width: 600px;
        height: 600px;

    }

    /* PRESS SLUT */

    /* EXHIBTION */
    #exhibitions {
        display: grid;
        grid-gap: 80px;
        grid-template-columns: 350px 350px 350px;
        justify-content: center;

        grid-template-areas:
            "exhibition_head exhibition_head exhibition_head"
            "current1 current2 current3"
            "exhibition_head2 exhibition_head2 exhibition_head2"
            "future1 future2 future3"
            "exhibition_head3 exhibition_head3 exhibition_head3"
            "past1 past2 past3"


    }




    /* EXHIBTION SLUT */

}
