/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    margin: 0;
    object-fit: cover;

}


.padding {
    padding: 0px 20px 0px 20px;
}




/* GENERELLE INDSTILLINGER SLUT */

/* SKRIFT INDSTILLINGER */
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 600;
    font-size: 2rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;
    font-weight: 600;
}

h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #5C5A5A;

}



p {
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
}

/* SKRIFT INDSTILLINGER SLUT */


/* LANDINGPAGE */

.page-header1 img {
    width: 45px;
    position: fixed;
    left: 0;
    top: 0;
}




#landing_headline {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #83786C;
    font-size: 1rem;
}

/*
a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color: #5C5A5A;
    font-weight: 500;
    font-size: 0.8rem;

}
*/




#splash img {
    background-size: cover;
}


/* LANDINGPAGE SLUT */


/* EXHIBTION */

/*
#exhibition_heading {
    margin: 100px 40px 0px 28px;
}
*/

#exhibitions {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "exhibition_head"
        "current1"
        "current2"
        "current3"

}

#exhibition_head {
    grid-area: exhibition_head;
}


#current1 {
    grid-area: current1;
}

#current2 {
    grid-area: current2;
}

#current3 {
    grid-area: current3;
}


/* EXHIBTION SLUT */


/* BEHIND */

#behind_fullpage {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "behind_heading"
        "paragraf1"
        "paragraf2"

}

#behind_heading {
    grid-area: behind_heading;
}

#paragraf1 {
    grid-area: paragraf1;
}

#paragraf2 {
    grid-area: paragraf2;
}




/* FORMULAR */

input[type=text],
select {
    font-family: 'Raleway', sans-serif;
    width: 110px;
    height: 30px;
    padding: 12px 20px;
    display: inline-block;
    /*    margin: 8px 0;*/
    border: 1px solid #ccc;
    font-size: 0.8rem;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #CEC1B0;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}



input[type=submit]:hover {
    opacity: 50%;
}





/* FORMULAR SLUT */


/* BEHIND SLUT */





/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) {

    .padding {
        padding: 0px 0px 0px 0px;
    }


    /* LANDINGPAGE */


    #landing_headline {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        color: #645748;
        font-size: 2.2rem;
        margin-top: -460px;
    }

    #landing_headline2 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        color: #645748;
        font-size: 1.2rem;
        margin-top: 0px;

    }

    .page-header1 img {
        width: 60px;
    }



    /* LANDINGPAGE SLUT */




    /* EXHIBTION */

    #exhibition_heading {
        margin: 100px 40px 0px 48px;
    }

    #exhibitions {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 200px 200px 200px;
        justify-content: center;
        grid-template-areas:
            "exhibition_head exhibition_head exhibition_head"
            "current1 current2 current3"


    }

    /* EXHIBTION SLUT */

    /* BEHIND */

    #behind_fullpage {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:
            "behind_heading behind_heading"
            "paragraf1 paragraf2"


    }

    /* BEHIND SLUT */
}


/* MEDIA QUERIES IPAD SLUT */


/* MEDIA QUERIES WEB */

@media only screen and (min-width: 1024px) {

    /* EXHIBTION */
    #exhibitions {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 300px 300px 300px;
        justify-content: center;
        grid-template-areas:
            "exhibition_head exhibition_head exhibition_head"
            "current1 current2 current3"


    }

    /* EXHIBTION SLUT */

    /* BEHIND */

    #behind_fullpage {
        display: grid;
        grid-gap: 60px;
        grid-template-columns: 600px 600px;
        grid-template-areas:
            "behind_heading behind_heading"
            "paragraf1 paragraf2"


    }

    /* FORMULAR */

    input[type=text],
    select {
        width: 180px;
        height: 40px;

    }

    input[type=submit] {
        width: 180px;
        height: 40px;

    }



    /* BEHIND SLUT */
}


/* MEDIA QUERIES WEB SLUT */
